@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 5%;
    text-align: center;
    background-color: #a1a1a1;
}

h1 {
    margin: 25px 0;
}
.missao {
    font-size: 20px;
}

.missao em strong {
    color: #961f1f
}